Job Seeker.json
{
  "name": "Job Seeker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        272
      ],
      "id": "06a0ef7f-f4b9-43a8-9c31-3271301425ea",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You're an intelligent bot perfect at rating a job opening based on the candidate's resume. Please score the job out of 10 using the following weighted criteria:\n\nSCORING RUBRIC (out of 10 points total):\n\na) Resume Fit (0-4 points):\n- 0 points: No match or poor fit\n- 2 points: Mostly matching (some relevant skills/experience)\n- 4 points: Amazing fit (strong match with requirements)\n\nb) Salary (0-2 points):\n- 2 points: Over $60,000/year OR over $5,000/month OR over $30/hr\n- 0 points: Below thresholds or not specified\n\nc) Remote Position (0-2 points):\n- 2 points: Remote or hybrid position\n- 0 points: On-site only\n\nd) Benefits (0-1 point):\n- 1 point: Benefits offered (health, dental, vacation, etc.)\n- 0 points: No benefits mentioned\n\ne) Full-time (0-1 point):\n- 1 point: Full-time permanent position (not contract or part-time)\n- 0 points: Contract, part-time, or temporary\n\nIMPORTANT: Calculate each score separately and show your work in the reasoning.",
              "role": "model"
            },
            {
              "content": "=Here's the job listing details:\nSalary: {{ $json.salary.salaryText || \"Not specified (check description)\"}}\nRemote: {{ $json.isRemote }}\nBenefits: {{ $json.benefits }}\nJob type/term: {{ $json.jobType[0] || \"Not specified (check description)\"}} (i.e. part time, full time, contract etc)\nJob Description:\n{{ $json.descriptionText }}\n\nThe candidate has 4 different resume versions. Please analyze which version best matches this job and recommend it.\n\n=== RESUME VERSION 1 ===\nFocus: Comprehensive software developer profile with C++ project and business development experience\nTitle: Software Developer\nKey Highlights:\n- C++ Object-Oriented Programming project (Restaurant Management System)\n- Business Development Executive role (2021-2023) showing business acumen and client relations\n- Full technology stack including C++, JavaScript, React, Python, SQL\n- Recent graduate emphasis with 3.6 GPA\n- Comprehensive skills: Docker, CI/CD, MongoDB, PostgreSQL, Supabase\n- 3 work experiences: Sowcial, Galerie Maya (Ecommerce + Business Dev)\nBest for: Backend roles, full-stack positions, junior software developer roles, positions valuing business understanding, roles requiring C++ or OOP\n\n=== RESUME VERSION 2 ===\nFocus: Software developer with dual project showcase (hackathon + academic)\nTitle: Software Developer\nKey Highlights:\n- Hackathon Finalist project (Agri-Tourism Marketplace with Node.js/Express backend)\n- C++ Object-Oriented Programming project (Restaurant Management System)\n- Shows both rapid prototyping AND structured development\n- Recent graduate emphasis with 3.6 GPA\n- Streamlined tech stack (removed Docker, CI/CD, SQL, heavy tools)\n- 2 work experiences only: Sowcial, Galerie Maya Ecommerce (NO Business Development role)\nBest for: Startup environments, roles valuing rapid development and prototyping, positions requiring versatility, hackathon-friendly companies, junior full-stack roles\n\n=== RESUME VERSION 3 ===\nFocus: Experienced web developer with e-commerce expertise\nTitle: Web Developer (NOT Software Developer)\nKey Highlights:\n- \"3+ years of experience\" positioning (de-emphasizes recent graduate status)\n- Results-driven professional summary focused on business impact\n- Business Development Executive role included (shows client-facing experience)\n- Frenzr web developer role added (4 work experiences total)\n- Hackathon project only (NO C++ project - pure web focus)\n- Streamlined skills: removed C++, SQL, Docker, databases\nBest for: Mid-level web developer roles, e-commerce companies, agencies, positions requiring proven experience, roles not suitable for \"recent graduate\" candidates\n\n=== RESUME VERSION 4 ===\nFocus: Front-end developer specializing in UI/UX and user experience\nTitle: Front-end Developer\nKey Highlights:\n- \"Front-end Developer\" title (specialized, not generalist)\n- \"3+ years of experience\" emphasis (NOT recent graduate)\n- Enhanced Galerie Maya achievements with Google Analytics and 35% conversion rate increase\n- Detailed Frenzr responsibilities (custom CSS, multiple pages launched)\n- Hackathon project only (NO C++ - pure web focus)\n- Front-end focused skills: Figma, UI/UX Principles, Responsive Design\n- 3 work experiences: Sowcial, Galerie Maya Ecommerce, Frenzr (NO Business Development role)\nBest for: Front-end specific roles, UI/UX positions, design-focused development roles, React/Next.js jobs, roles requiring analytics experience, TypeScript positions\n\nKEY DIFFERENCES SUMMARY:\n- V1: Junior full-stack with C++/OOP + business background (3 roles)\n- V2: Junior full-stack with hackathon + C++, no business role (2 roles)\n- V3: Mid-level web developer with experience emphasis + business background (4 roles)\n- V4: Mid-level front-end specialist with UI/UX + analytics focus (3 roles)\n\nIMPORTANT: Based on the job description, requirements, and title, recommend which resume version (1, 2, 3, or 4) would be the best fit."
            },
            {
              "content": "=Please return JSON data structured the following way:\n{\n  \"score\": {\n    \"match\": 0,\n    \"salary\": 0,\n    \"remote\": 0,\n    \"benefits\": 0,\n    \"fulltime\": 0,\n    \"total\": 0\n  },\n  \"recommendedResumeVersion\": 0,\n  \"reasoning\": \"Explain both the score briefly and why you recommended this specific resume version\"\n}\n\nIMPORTANT:\n- recommendedResumeVersion must be 1, 2, 3, or 4\n- In your reasoning, explain which resume version you chose and why",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2016,
        272
      ],
      "id": "bad76430-8aa4-4ec7-aa1e-d76948d2b500",
      "name": "Score and Reason",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "H0iGOFlF3ECQrLAu",
          "name": "Project -> JobSeeker"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior career consultant specializing in tech industry cover letters. Create a compelling, personalized cover letter following these guidelines:\n\nOPENING PARAGRAPH (2-3 sentences):\n- Lead with your strongest relevant qualification or a compelling hook\n- Mention the specific role and company\n- Briefly state why you're interested (be specific, not generic)\n\nEXAMPLE: \"When I redesigned Galerie Maya's e-commerce platform and drove a 35% increase in conversions, I discovered my passion for building user-centric web experiences. This\nhands-on approach to solving real business problems through code aligns perfectly with [Company]'s mission to [specific company goal from job description].\"\n\nBODY PARAGRAPHS (2 paragraphs):\n\nParagraph 1 - Technical Fit:\n- Highlight 2-3 technical skills/experiences that directly match job requirements\n- Use specific examples with measurable results\n- Connect your experience to their needs\n\nParagraph 2 - Value Proposition:\n- Showcase a relevant project or achievement\n- Demonstrate problem-solving ability\n- Show how you'll add value to their team\n\nCLOSING PARAGRAPH (2-3 sentences):\n- Express genuine enthusiasm for the role/company\n- Include a confident call to action\n- Keep it concise and forward-looking\n\nSTYLE GUIDELINES:\n✓ Use active voice and strong action verbs\n✓ Be specific with numbers, technologies, and outcomes\n✓ Show, don't tell (use examples, not adjectives)\n✓ Match the company's tone (formal for enterprise, casual for startups)\n✓ Keep it under 350 words\n✗ No generic openings like \"I am writing to apply for...\"\n✗ No desperation or underselling yourself\n✗ No listing skills without context\n✗ No repeating your resume",
              "role": "model"
            },
            {
              "content": "=Here's the job listing details:\nTitle: {{ $('JSONify score and reasoning').item.json.title }}\nCompany: {{ $('JSONify score and reasoning').item.json.companyName }}\nLocation: {{ $('JSONify score and reasoning').item.json.location }}\nSalary: {{ $('JSONify score and reasoning').item.json.salary }}\nRemote: {{ $('JSONify score and reasoning').item.json.isRemote }}\n\nHere is the candidate's COMPLETE resume (Version {{ $('JSONify score and reasoning').item.json.recommendedResumeVersion }} - recommended as best match):\n\n{{ JSON.stringify($('JSONify score and reasoning').item.json.candidateResume, null, 2) }}\n\nIMPORTANT: This is Resume Version {{ $('JSONify score and reasoning').item.json.recommendedResumeVersion }}.\n\nCover letter writing guidelines based on version:\n- Version 1/2: Emphasize full-stack capabilities, business acumen, and recent graduate energy\n- Version 3: Emphasize 3+ years of proven results and e-commerce expertise\n- Version 4: Emphasize front-end specialization, UI/UX expertise, and design focus\n\nTailor the cover letter to highlight the unique strengths of this particular resume version.\n"
            },
            {
              "content": "=Write a cover letter that makes the hiring manager want to interview this candidate. Focus on specific achievements and technologies that match the job requirements. Make it\nconversational yet professional.\n\nIMPORTANT: Return ONLY a valid JSON object with no markdown formatting, no code blocks, no extra text:\n{\n  \"cover_letter\": \"Your complete cover letter here. Use \\\\n\\\\n for paragraph breaks between opening, body paragraphs, and closing.\"\n}",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3248,
        192
      ],
      "id": "6eb69189-129a-4be9-b4fc-09057db4d366",
      "name": "Generate Cover Letter",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "H0iGOFlF3ECQrLAu",
          "name": "Project -> JobSeeker"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "  // Extract the JSON string from Gemini's cover letter response\n  let geminiText = $input.item.json.content.parts[0].text;\n\n  // Remove markdown code block wrappers if present\n  geminiText = geminiText.trim();\n  if (geminiText.startsWith('```')) {\n    geminiText = geminiText.replace(/^```(?:json)?\\s*\\n?/, '');\n    geminiText = geminiText.replace(/\\n?```\\s*$/, '');\n    geminiText = geminiText.trim();\n  }\n\n  // Parse the JSON string\n  const parsed = JSON.parse(geminiText);\n\n  // Get the score and job data from the JSONify score and reasoning node\n  const scoreData = $('JSONify score and reasoning').item.json;\n\n  // Return all data for Google Sheets\n  return {\n    json: {\n      ...scoreData,  // All job data + score breakdown + reasoning\n      coverLetter: parsed.cover_letter\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        192
      ],
      "id": "6d114e50-b1a2-4925-822b-ff47ef0d7ae0",
      "name": "JSONify Cover Letter"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Job Listings Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Platform": "={{ $json.platform }}",
            "Date": "={{ $json.datePublished }}",
            "Company Name": "={{ $json.companyName }}",
            "City": "={{ $json.location.city }}",
            "Expired": "={{ $json.expired }}",
            "Remote": "={{ $json.isRemote }}",
            "Link": "={{ $json.jobUrl }}",
            "Rating": "={{ $json.scoreTotal }}",
            "Cover Letter": "={{ $json.coverLetter }}",
            "Salary": "={{ $json.salary }}",
            "Job Description": "={{ $json.descriptionText }}",
            "Resume Version": "={{ $json.recommendedResumeVersion }}",
            "Status": "To-Do"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume Version",
              "displayName": "Resume Version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Description",
              "displayName": "Job Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expired",
              "displayName": "Expired",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remote",
              "displayName": "Remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3824,
        192
      ],
      "id": "87025e2f-8883-4f54-9e33-c11ce5801163",
      "name": "Append or update job in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xMntBXBmoN3qkY6T",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract the JSON string from Gemini's response\nlet geminiText = $input.item.json.content.parts[0].text;\n\n// Remove markdown code block wrappers if present\ngeminiText = geminiText.trim();\nif (geminiText.startsWith('```')) {\n  geminiText = geminiText.replace(/^```(?:json)?\\s*\\n?/, '');\n  geminiText = geminiText.replace(/\\n?```\\s*$/, '');\n}\n\n// Parse the cleaned JSON string\nconst parsed = JSON.parse(geminiText.trim());\n\n// Get the original job data from the dataset\nconst jobData = $('Loop Over dataset items').item.json;\n\n// Get recommended version\nconst version = parsed.recommendedResumeVersion || 1;\n\n// Version-specific resume configurations (updated to match actual JSON files)\nconst resumeVersions = {\n  1: {\n    \"personalInfo\": {\n      \"name\": \"YOUR_FULL_NAME\",\n      \"location\": \"North York, ON\",\n      \"phone\": \"(XXX) XXX-XXXX\",\n      \"email\": \"your-email@example.com\",\n      \"linkedin\": \"linkedin.com/in/your-profile\",\n      \"website\": \"yourdomain.com\",\n      \"title\": \"Software Developer\"\n    },\n    \"professionalSummary\": \"With a background in building and managing e-commerce platforms, I pivoted to software development to solve complex problems with code. As a recent \nComputer Programming graduate (3.6 GPA) with a strong foundation in JavaScript, React, C++, and Python, I apply my business acumen and technical skills to build robust and scalable \nsoftware.\",\n    \"workExperience\": [\n      {\n        \"title\": \"Web Developer\",\n        \"company\": \"Sowcial\",\n        \"location\": \"Toronto, ON\",\n        \"startDate\": \"2025-03\",\n        \"endDate\": \"2025-10\",\n        \"responsibilities\": [\n          \"Developed a production-ready marketplace using Next.js 15, TypeScript, and Tailwind CSS, converting a Hackathon concept into a scalable web application.\",\n          \"Implemented a comprehensive error handling system with custom reusable components, improving user experience by providing context-aware feedback for all HTTP status \ncodes.\",\n          \"Established a three-tier deployment pipeline on Google Cloud Platform, automating builds and enhancing security by integrating Google Secret Manager to eliminate hardcoded\n tokens.\"\n        ],\n        \"technologies\": [\"Next.js 15\", \"TypeScript\", \"Tailwind CSS\", \"Google Cloud Platform\", \"Google Secret Manager\"]\n      },\n      {\n        \"title\": \"Ecommerce Specialist\",\n        \"company\": \"Galerie Maya\",\n        \"location\": \"Toronto, ON\",\n        \"startDate\": \"2023-10\",\n        \"endDate\": \"2025-03\",\n        \"responsibilities\": [\n          \"Redesigned website entirely on the Shopify platform, implementing a modern UI and custom JavaScript features that contributed to a 35% increase in online sales.\",\n          \"Drove a 40% increase in organic traffic within six months by executing a targeted SEO strategy, focusing on keyword optimization for product descriptions and creating \nhigh-ranking landing pages.\",\n          \"Developed and integrated a custom JavaScript inquiry button on product pages, streamlining the customer communication process and improving lead capture for high-value \nitems.\"\n        ],\n        \"technologies\": [\"Shopify\", \"JavaScript\", \"SEO\"],\n        \"achievements\": [\n          \"35% increase in online sales\",\n          \"40% increase in organic traffic\"\n        ]\n      },\n      {\n        \"title\": \"Business Development Executive\",\n        \"company\": \"Galerie Maya\",\n        \"location\": \"Toronto, ON\",\n        \"startDate\": \"2021-02\",\n        \"endDate\": \"2023-10\",\n        \"responsibilities\": [\n          \"Executed a multichannel digital marketing strategy, utilizing Facebook ads and marketplace positioning to drive a 35% increase in overall sales.\",\n          \"Expanded the customer base by 30% by securing sponsorships and representation at high-end events, significantly boosting brand awareness and market penetration.\"\n        ],\n        \"achievements\": [\n          \"35% increase in overall sales\",\n          \"30% customer base expansion\"\n        ]\n      }\n    ],\n    \"education\": [\n      {\n        \"degree\": \"College Diploma In Computer Programming\",\n        \"institution\": \"Seneca Polytechnic\",\n        \"location\": \"Toronto, ON\",\n        \"gpa\": \"3.6/4.0\",\n        \"endDate\": \"2025-08\",\n        \"status\": \"Completed\"\n      }\n    ],\n    \"projects\": [\n      {\n        \"name\": \"Restaurant Order Management System\",\n        \"date\": \"2024-09 to 2024-12\",\n        \"context\": \"Object Oriented C++ Project\",\n        \"techStack\": [\"C++\", \"Git\", \"GitHub\"],\n        \"description\": [\n          \"Developed a console-based restaurant management application in C++, applying object-oriented principles like inheritance and polymorphism to model menu items and handle \nbilling.\",\n          \"Implemented a dynamic menu system capable of parsing and loading food and drink items from external .csv files, allowing for easy updates without recompiling.\",\n          \"Ensured data persistence for itemized receipts by utilizing file I/O operations, allowing completed bills to be saved and reviewed in subsequent sessions.\"\n        ]\n      }\n    ],\n    \"skills\": {\n      \"toolsAndPlatforms\": [\"Agile Methodologies\", \"CI/CD\", \"Docker\", \"Git\", \"GitHub\", \"Google Cloud Platform (GCP)\", \"MongoDB\", \"PostgreSQL\", \"RESTful APIs\", \"SEO\", \"Shopify\",\n\"Supabase\", \"Vercel\"],\n      \"frameworksAndLibraries\": [\"Bootstrap\", \"Next.js\", \"Node.js\", \"React\", \"Tailwind CSS\"],\n      \"programmingLanguages\": [\"C++\", \"CSS3\", \"HTML5\", \"JavaScript\", \"Python\", \"SQL\", \"TypeScript\"]\n    }\n  },\n  2: {\n    \"personalInfo\": {\n      \"name\": \"YOUR_FULL_NAME\",\n      \"location\": \"North York, ON\",\n      \"phone\": \"(XXX) XXX-XXXX\",\n      \"email\": \"your-email@example.com\",\n      \"linkedin\": \"linkedin.com/in/your-profile\",\n      \"website\": \"yourdomain.com\",\n      \"title\": \"Software Developer\"\n    },\n    \"professionalSummary\": \"With a background in building and managing e-commerce platforms, I pivoted to software development to solve complex problems with code. As a recent \nComputer Programming graduate (3.6 GPA) with a strong foundation in JavaScript, React, C++, and Python, I apply my business acumen and technical skills to build robust and scalable \nsoftware.\",\n    \"workExperience\": [\n      {\n        \"title\": \"Web Developer\",\n        \"company\": \"Sowcial\",\n        \"location\": \"Toronto, ON\",\n        \"startDate\": \"2025-03\",\n        \"endDate\": \"2025-10\",\n        \"responsibilities\": [\n          \"Developed a production-ready marketplace using Next.js 15, TypeScript, and Tailwind CSS, converting a Hackathon concept into a scalable web application.\",\n          \"Implemented a comprehensive error handling system with custom reusable components, improving user experience by providing context-aware feedback for all HTTP status \ncodes.\"\n        ],\n        \"technologies\": [\"Next.js 15\", \"TypeScript\", \"Tailwind CSS\"]\n      },\n      {\n        \"title\": \"Ecommerce Specialist\",\n        \"company\": \"Galerie Maya\",\n        \"location\": \"Toronto, ON\",\n        \"startDate\": \"2023-10\",\n        \"endDate\": \"2025-03\",\n        \"responsibilities\": [\n          \"Redesigned website entirely on the Shopify platform, implementing a modern UI and custom JavaScript features that contributed to a 35% increase in online sales.\",\n          \"Drove a 40% increase in organic traffic within six months by executing a targeted SEO strategy, focusing on keyword optimization for product descriptions and creating \nhigh-ranking landing pages.\"\n        ],\n        \"technologies\": [\"Shopify\", \"JavaScript\", \"SEO\"],\n        \"achievements\": [\n          \"35% increase in online sales\",\n          \"40% increase in organic traffic\"\n        ]\n      }\n    ],\n    \"education\": [\n      {\n        \"degree\": \"College Diploma In Computer Programming\",\n        \"institution\": \"Seneca Polytechnic\",\n        \"location\": \"Toronto, ON\",\n        \"gpa\": \"3.6/4.0\",\n        \"endDate\": \"2025-08\",\n        \"status\": \"Completed\"\n      }\n    ],\n    \"projects\": [\n      {\n        \"name\": \"Agri-Tourism Marketplace\",\n        \"date\": \"2025-03\",\n        \"context\": \"Seneca Hackathon 2025 - Finalist\",\n        \"techStack\": [\"HTML\", \"CSS\", \"JavaScript\", \"Node.js\", \"Express\", \"Vercel\"],\n        \"description\": [\n          \"Developed the initial prototype for an agritourism platform during an 8-hour hackathon, focusing on core user flows for browsing and viewing tour details.\",\n          \"Built a mock back-end using Node.js and Express to serve JSON data from local files, simulating a live API for the front-end to consume.\",\n          \"Configured the project for serverless deployment using a vercel.json file, demonstrating an early understanding of modern front-end hosting and API routing.\"\n        ]\n      },\n      {\n        \"name\": \"Restaurant Order Management System\",\n        \"date\": \"2024-09 to 2024-12\",\n        \"context\": \"Object Oriented C++ Project\",\n        \"techStack\": [\"C++\", \"Git\", \"GitHub\"],\n        \"description\": [\n          \"Developed a console-based restaurant management application in C++, applying object-oriented principles like inheritance and polymorphism to model menu items and handle \nbilling.\",\n          \"Implemented a dynamic menu system capable of parsing and loading food and drink items from external .csv files, allowing for easy updates without recompiling.\",\n          \"Ensured data persistence for itemized receipts by utilizing file I/O operations, allowing completed bills to be saved and reviewed in subsequent sessions.\"\n        ]\n      }\n    ],\n    \"skills\": {\n      \"toolsAndPlatforms\": [\"Git\", \"GitHub\", \"Google Cloud Platform (GCP)\", \"MongoDB\", \"PostgreSQL\", \"SEO\", \"Vercel\"],\n      \"frameworksAndLibraries\": [\"Express\", \"Next.js\", \"Node.js\", \"React\", \"Tailwind CSS\"],\n      \"programmingLanguages\": [\"C++\", \"CSS3\", \"HTML5\", \"JavaScript\", \"Python\", \"TypeScript\"]\n    }\n  },\n  3: {\n    \"personalInfo\": {\n      \"name\": \"YOUR_FULL_NAME\",\n      \"location\": \"North York, ON\",\n      \"phone\": \"(XXX) XXX-XXXX\",\n      \"email\": \"your-email@example.com\",\n      \"linkedin\": \"linkedin.com/in/your-profile\",\n      \"website\": \"yourdomain.com\",\n      \"title\": \"Web Developer\"\n    },\n    \"professionalSummary\": \"With 3+ years of experience building solutions for e-commerce, I create web applications that drive real business results. Proficient in HTML, CSS, \nJavaScript and React, I recently re-architected a company's web presence, leading to a 35% increase in online sales and a 40% boost in organic traffic through targeted development \nand SEO.\",\n    \"workExperience\": [\n      {\n        \"title\": \"Web Developer\",\n        \"company\": \"Sowcial\",\n        \"location\": \"Toronto, ON\",\n        \"startDate\": \"2025-03\",\n        \"endDate\": \"2025-10\",\n        \"responsibilities\": [\n          \"Developed a production-ready marketplace using Next.js 15, TypeScript, and Tailwind CSS, converting a Hackathon concept into a scalable web application.\",\n          \"Implemented a comprehensive error handling system with custom reusable components, improving user experience by providing context-aware feedback for all HTTP status \ncodes.\",\n          \"Established a three-tier deployment pipeline on Google Cloud Platform, automating builds and enhancing security by integrating Google Secret Manager to eliminate hardcoded\n tokens.\"\n        ],\n        \"technologies\": [\"Next.js 15\", \"TypeScript\", \"Tailwind CSS\", \"Google Cloud Platform\", \"Google Secret Manager\"]\n      },\n      {\n        \"title\": \"Ecommerce Specialist\",\n        \"company\": \"Galerie Maya\",\n        \"location\": \"Toronto, ON\",\n        \"startDate\": \"2023-10\",\n        \"endDate\": \"2025-03\",\n        \"responsibilities\": [\n          \"Redesigned website entirely on the Shopify platform, implementing a modern UI and custom JavaScript features that contributed to a 35% increase in online sales.\",\n          \"Drove a 40% increase in organic traffic within six months by executing a targeted SEO strategy, focusing on keyword optimization for product descriptions and creating \nhigh-ranking landing pages.\"\n        ],\n        \"technologies\": [\"Shopify\", \"JavaScript\", \"SEO\"],\n        \"achievements\": [\n          \"35% increase in online sales\",\n          \"40% increase in organic traffic\"\n        ]\n      },\n      {\n        \"title\": \"Business Development Executive\",\n        \"company\": \"Galerie Maya\",\n        \"location\": \"Toronto, ON\",\n        \"startDate\": \"2021-02\",\n        \"endDate\": \"2023-10\",\n        \"responsibilities\": [\n          \"Executed a multichannel digital marketing strategy, utilizing Facebook ads and marketplace positioning to drive a 35% increase in overall sales.\",\n          \"Expanded the customer base by 30% by securing sponsorships and representation at high-end events, significantly boosting brand awareness and market penetration.\"\n        ],\n        \"achievements\": [\n          \"35% increase in overall sales\",\n          \"30% customer base expansion\"\n        ]\n      },\n      {\n        \"title\": \"Web Developer\",\n        \"company\": \"Frenzr Social Media Agency\",\n        \"location\": \"Montreal, QC\",\n        \"startDate\": \"2023-05\",\n        \"endDate\": \"2023-08\",\n        \"responsibilities\": [\n          \"Overhauled the agency's website UI/UX on the Squarespace platform, integrating an automated calendar booking system that directly increased the volume of inbound client \ndiscovery calls by 50%.\"\n        ],\n        \"technologies\": [\"Squarespace\"],\n        \"achievements\": [\n          \"50% increase in inbound client discovery calls\"\n        ]\n      }\n    ],\n    \"education\": [\n      {\n        \"degree\": \"College Diploma In Computer Programming\",\n        \"institution\": \"Seneca Polytechnic\",\n        \"location\": \"Toronto, ON\",\n        \"gpa\": \"3.6/4.0\",\n        \"endDate\": \"2025-08\",\n        \"status\": \"Completed\"\n      }\n    ],\n    \"projects\": [\n      {\n        \"name\": \"Agri-Tourism Marketplace\",\n        \"date\": \"2025-03\",\n        \"context\": \"Seneca Hackathon 2025 - Finalist\",\n        \"techStack\": [\"HTML\", \"CSS\", \"JavaScript\", \"Node.js\", \"Express\", \"Vercel\"],\n        \"description\": [\n          \"Developed the initial prototype for an agritourism platform during an 8-hour hackathon, focusing on core user flows for browsing and viewing tour details.\",\n          \"Built a mock back-end using Node.js and Express to serve JSON data from local files, simulating a live API for the front-end to consume.\"\n        ]\n      }\n    ],\n    \"skills\": {\n      \"programmingLanguages\": [\"CSS3\", \"HTML5\", \"JavaScript\", \"Python\", \"TypeScript\"],\n      \"frameworksAndLibraries\": [\"Bootstrap\", \"Express\", \"Next.js\", \"Node.js\", \"React\", \"Tailwind CSS\"],\n      \"toolsAndPlatforms\": [\"GitHub\", \"Google Cloud Platform (GCP)\", \"RESTful APIs\", \"UI/UX Principles\"]\n    }\n  },\n  4: {\n    \"personalInfo\": {\n      \"name\": \"YOUR_FULL_NAME\",\n      \"location\": \"North York, ON\",\n      \"phone\": \"(XXX) XXX-XXXX\",\n      \"email\": \"your-email@example.com\",\n      \"linkedin\": \"linkedin.com/in/your-profile\",\n      \"website\": \"yourdomain.com\",\n      \"title\": \"Front-end Developer\"\n    },\n    \"professionalSummary\": \"With 3+ years of experience building solutions for e-commerce, I create web applications that drive real business results. Proficient in HTML, CSS, \nJavaScript and React, I recently re-architected a company's web presence, leading to a 35% increase in online sales and a 40% boost in organic traffic through targeted development \nand SEO.\",\n    \"workExperience\": [\n      {\n        \"title\": \"Web Developer\",\n        \"company\": \"Sowcial\",\n        \"location\": \"Toronto, ON\",\n        \"startDate\": \"2025-03\",\n        \"endDate\": \"2025-10\",\n        \"responsibilities\": [\n          \"Developed a production-ready marketplace using Next.js 15, TypeScript, and Tailwind CSS, converting a Hackathon concept into a scalable web application.\",\n          \"Implemented a comprehensive error handling system with custom reusable components, improving user experience by providing context-aware feedback for all HTTP status \ncodes.\",\n          \"Established a three-tier deployment pipeline on Google Cloud Platform, automating builds and enhancing security by integrating Google Secret Manager to eliminate hardcoded\n tokens.\"\n        ],\n        \"technologies\": [\"Next.js 15\", \"TypeScript\", \"Tailwind CSS\", \"Google Cloud Platform\", \"Google Secret Manager\"]\n      },\n      {\n        \"title\": \"Ecommerce Specialist\",\n        \"company\": \"Galerie Maya\",\n        \"location\": \"Toronto, ON\",\n        \"startDate\": \"2023-10\",\n        \"endDate\": \"2025-03\",\n        \"responsibilities\": [\n          \"Redesigned website entirely on the Shopify platform, implementing a modern UI and custom JavaScript features that contributed to a 35% increase in online sales.\",\n          \"Drove a 40% increase in organic traffic within six months by executing a targeted SEO strategy, focusing on keyword optimization for product descriptions and creating \nhigh-ranking landing pages.\",\n          \"Analyzed website performance using Google Analytics, translating visitor data into actionable UI/UX improvements that led to a 35% increase in sales conversion rates.\"\n        ],\n        \"technologies\": [\"Shopify\", \"JavaScript\", \"SEO\", \"Google Analytics\"],\n        \"achievements\": [\n          \"35% increase in online sales\",\n          \"40% increase in organic traffic\",\n          \"35% increase in sales conversion rates\"\n        ]\n      },\n      {\n        \"title\": \"Web Developer\",\n        \"company\": \"Frenzr Social Media Agency\",\n        \"location\": \"Montreal, QC\",\n        \"startDate\": \"2023-05\",\n        \"endDate\": \"2023-08\",\n        \"responsibilities\": [\n          \"Overhauled the agency's website UI/UX on the Squarespace platform, integrating an automated calendar booking system that directly increased the volume of inbound client \ndiscovery calls by 50%.\",\n          \"Developed and launched several key pages, including 'Clients,' 'Team,' and 'Contact Us,' applying custom CSS modifications to create a more professional and cohesive \nonline presence.\"\n        ],\n        \"technologies\": [\"Squarespace\", \"CSS\"],\n        \"achievements\": [\n          \"50% increase in inbound client discovery calls\"\n        ]\n      }\n    ],\n    \"education\": [\n      {\n        \"degree\": \"College Diploma In Computer Programming\",\n        \"institution\": \"Seneca Polytechnic\",\n        \"location\": \"Toronto, ON\",\n        \"gpa\": \"3.6/4.0\",\n        \"endDate\": \"2025-08\",\n        \"status\": \"Completed\"\n      }\n    ],\n    \"projects\": [\n      {\n        \"name\": \"Agri-Tourism Marketplace\",\n        \"date\": \"2025-03\",\n        \"context\": \"Seneca Hackathon 2025 - Finalist\",\n        \"techStack\": [\"HTML\", \"CSS\", \"JavaScript\", \"Node.js\", \"Express\", \"Vercel\"],\n        \"description\": [\n          \"Developed the initial prototype for an agritourism platform during an 8-hour hackathon, focusing on core user flows for browsing and viewing tour details.\",\n          \"Built a mock back-end using Node.js and Express to serve JSON data from local files, simulating a live API for the front-end to consume.\",\n          \"Configured the project for serverless deployment using a vercel.json file, demonstrating an early understanding of modern front-end hosting and API routing.\"\n        ]\n      }\n    ],\n    \"skills\": {\n      \"programmingLanguages\": [\"CSS3\", \"HTML5\", \"JavaScript\", \"Python\", \"TypeScript\"],\n      \"frameworksAndLibraries\": [\"Bootstrap\", \"Express\", \"Next.js\", \"Node.js\", \"React\", \"Tailwind CSS\"],\n      \"toolsAndPlatforms\": [\"Figma\", \"GitHub\", \"Google Cloud Platform (GCP)\", \"RESTful APIs\", \"UI/UX Principles\"]\n    }\n  }\n};\n\n// Get the selected resume based on recommended version\nconst selectedResume = resumeVersions[version];\n\n// Return combined data with score, job data, AND full resume\nreturn {\n  json: {\n    // Score breakdown\n    scoreMatch: parsed.score.match,\n    scoreSalary: parsed.score.salary,\n    scoreRemote: parsed.score.remote,\n    scoreBenefits: parsed.score.benefits,\n    scoreFulltime: parsed.score.fulltime,\n    scoreTotal: parsed.score.total,\n    recommendedResumeVersion: version,\n    reasoning: parsed.reasoning,\n\n    // Job data\n    title: jobData.title,\n    descriptionText: jobData.descriptionText,\n    companyName: jobData.companyName,\n    jobUrl: jobData.jobUrl,\n    salary: jobData.salary?.salaryText || '',\n    location: jobData.location,\n    city: jobData.location?.city || '',\n    datePublished: jobData.datePublished,\n    isRemote: jobData.isRemote,\n    expired: jobData.expired,\n    benefits: jobData.benefits || '',\n    jobType: jobData.jobType || [],\n    platform: jobData.platform,\n\n    // Full resume data for the recommended version\n    candidateResume: selectedResume\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        272
      ],
      "id": "57694036-88e6-4c72-afd8-2ca69c73e570",
      "name": "JSONify score and reasoning"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4048,
        336
      ],
      "id": "5c86de09-db1c-4ec0-b5b2-f8453451d0f7",
      "name": "Wait",
      "webhookId": "3cd25351-c5e6-4543-85a9-1935f5662ad7"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1792,
        240
      ],
      "id": "4297e2ef-c54a-4344-aaa5-26d974cb6173",
      "name": "Loop Over dataset items"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3024,
        192
      ],
      "id": "ca80d6ba-6862-4ebc-98da-fe37f66d9634",
      "name": "Wait1",
      "webhookId": "a3e23cad-5615-4a06-96e1-efc693299923"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the dataset\nconst items = $input.all();\n\n// Use a Map to track unique jobs by URL\nconst uniqueJobs = new Map();\n\nitems.forEach(item => {\n  const jobUrl = item.json.jobUrl;\n  const jobTitle = item.json.jobTitle || item.json.title || '';\n\n  // Convert to lowercase for case-insensitive matching\n  const lowerTitle = jobTitle.toLowerCase();\n\n  // Filter out jobs with \"Senior\" or \"Sr.\" in the title\n  if (lowerTitle.includes('senior') || lowerTitle.includes('sr.')) {\n    console.log(`Filtered out senior position: ${jobTitle}`);\n    return; // Skip this item\n  }\n\n  // Filter out Backend positions\n  if (lowerTitle.includes('backend')) {\n    console.log(`Filtered out backend position: ${jobTitle}`);\n    return; // Skip this item\n  }\n\n  // Filter out MERN developer positions\n  if (lowerTitle.includes('mern')) {\n    console.log(`Filtered out MERN position: ${jobTitle}`);\n    return; // Skip this item\n  }\n\n  // Normalize LinkedIn URLs by removing query parameters\n  // LinkedIn job ID is in the path (e.g., /jobs/view/12345)\n  let normalizedUrl = jobUrl;\n  if (jobUrl && jobUrl.includes('linkedin.com/jobs')) {\n    // Remove everything after the ? (query parameters like refId, trackingId, etc.)\n    normalizedUrl = jobUrl.split('?')[0];\n  }\n\n  // Only keep the first occurrence of each normalized URL\n  if (!uniqueJobs.has(normalizedUrl)) {\n    uniqueJobs.set(normalizedUrl, item);\n  }\n});\n\n// Convert back to array\nconst uniqueItems = Array.from(uniqueJobs.values());\n\nconsole.log(`Original items: ${items.length}`);\nconsole.log(`Unique items: ${uniqueItems.length}`);\nconsole.log(`Duplicates removed from batch: ${items.length - uniqueItems.length}`);\n\nreturn uniqueItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        240
      ],
      "id": "4634dcbc-261f-4c83-aab6-fd26fb204724",
      "name": "Remove Duplicates in Current Batch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Job Listings Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        240
      ],
      "id": "64e78f1b-696c-4131-acf3-48708c3df8d7",
      "name": "Get All Existing Job URLs",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xMntBXBmoN3qkY6T",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n  return items.map(item => ({\n    json: {\n      title: item.json.title,\n      companyName: item.json.companyName,\n      jobUrl: item.json.link,  // LinkedIn uses \"link\"\n      location: {\n        city: item.json.location  // LinkedIn location is string\n      },\n      salary: {\n        salaryText: item.json.salaryInfo?.join(' - ') || ''  // Convert array\n      },\n      isRemote: item.json.location?.toLowerCase().includes('remote') || false,\n      benefits: Array.isArray(item.json.benefits) ? item.json.benefits.join(', ') : '',\n      jobType: [item.json.employmentType || ''],  // Single value → array\n      descriptionText: item.json.descriptionText,\n      datePublished: item.json.postedAt,\n      expired: false,\n      platform: 'LinkedIn'\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        336
      ],
      "id": "567b0da4-016f-49b0-b708-64af5b8bbd4f",
      "name": "Normalize LinkedIn Data"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        208
      ],
      "id": "877b90cc-b2ae-4b8e-bbec-42fac1cd0671",
      "name": "Merge Jobs"
    },
    {
      "parameters": {
        "jsCode": "// Get the new jobs from Apify\nconst newJobs = $('Remove Duplicates in Current Batch').all();\n\n// Get existing job URLs from Google Sheets\nconst existingJobsData = $('Get All Existing Job URLs').all();\n\n// Extract just the URLs from the sheet (assuming \"Link\" column exists)\nconst existingUrls = new Set(\n  existingJobsData.map(item => item.json.Link).filter(Boolean)\n);\n\n// Calculate the date one week ago\nconst oneWeekAgo = new Date();\noneWeekAgo.setDate(oneWeekAgo.getDate() - 7);\n\n// Filter out jobs that already exist\nconst uniqueNewJobs = newJobs.filter(job => {\n  const jobUrl = job.json.jobUrl;\n  \n  // Check if job URL already exists\n  if (existingUrls.has(jobUrl)) {\n    return false;\n  }\n\n  // Check if job was posted within the last week\n  if (job.json.datePublished) {\n    const postDate = new Date(job.json.datePublished);\n    if (postDate < oneWeekAgo) {\n      return false;\n    }\n  }\n\n  return true;\n});\n\n// Calculate statistics\nconst duplicates = newJobs.filter(job => existingUrls.has(job.json.jobUrl)).length;\nconst tooOld = newJobs.filter(job => {\n  if (!job.json.datePublished) return false;\n  const postDate = new Date(job.json.datePublished);\n  return postDate < oneWeekAgo && !existingUrls.has(job.json.jobUrl);\n}).length;\n\n// Log the results\nconsole.log(`Total new jobs from Apify: ${newJobs.length}`);\nconsole.log(`Existing jobs in sheet: ${existingUrls.size}`);\nconsole.log(`Duplicates skipped: ${duplicates}`);\nconsole.log(`Jobs older than 1 week skipped: ${tooOld}`);\nconsole.log(`Unique new jobs to process: ${uniqueNewJobs.length}`);\n\n// Return only the unique jobs\nreturn uniqueNewJobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        240
      ],
      "id": "a88c3ea1-aadb-4b0e-9a4b-6040e0b0a85c",
      "name": "Filter Out Duplicate And +7 Days Posted Jobs"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "MXLpngmVpE8WTESQr",
          "mode": "list",
          "cachedResultName": "🚀 Indeed jobs scraper [PPR] (borderline/indeed-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/MXLpngmVpE8WTESQr/input"
        },
        "customBody": "{\n    \"country\": \"ca\",\n    \"enableUniqueJobs\": false,\n    \"fromDays\": \"1\",\n    \"jobType\": \"fulltime\",\n    \"location\": \"North York\",\n    \"maxRows\": 50,\n    \"query\": \"software developer\",\n    \"sort\": \"relevance\"\n}",
        "timeout": 360
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        224,
        144
      ],
      "id": "e3174077-5e8c-49f3-aec9-aff9039aa2f2",
      "name": "Run Indeed - Software Dev",
      "credentials": {
        "apifyApi": {
          "id": "hGvpsAZZaeBRg3Tb",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "MXLpngmVpE8WTESQr",
          "mode": "list",
          "cachedResultName": "🚀 Indeed jobs scraper [PPR] (borderline/indeed-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/MXLpngmVpE8WTESQr/input"
        },
        "customBody": "{\n    \"country\": \"ca\",\n    \"enableUniqueJobs\": false,\n    \"fromDays\": \"1\",\n    \"jobType\": \"fulltime\",\n    \"location\": \"North York\",\n    \"maxRows\": 50,\n    \"query\": \"web developer\",\n    \"sort\": \"relevance\"\n}",
        "timeout": 360
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        224,
        -48
      ],
      "id": "31a397c5-c61b-480a-97f8-b648bc0d2229",
      "name": "Run Indeed - Web Dev",
      "credentials": {
        "apifyApi": {
          "id": "hGvpsAZZaeBRg3Tb",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $('Run Indeed - Web Dev').item.json.defaultDatasetId }}",
        "offset": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        448,
        -48
      ],
      "id": "4ed6025d-1b39-4daa-a21e-403250cfabd1",
      "name": "Get Indeed Dataset - Web Dev",
      "credentials": {
        "apifyApi": {
          "id": "hGvpsAZZaeBRg3Tb",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $('Run Indeed - Software Dev').item.json.defaultDatasetId }}",
        "offset": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        448,
        144
      ],
      "id": "c9bc99d3-7bca-414c-85ed-3380d88a9435",
      "name": "Get Indeed Dataset - Software Dev",
      "credentials": {
        "apifyApi": {
          "id": "hGvpsAZZaeBRg3Tb",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n  return items.map(item => ({\n    json: {\n      title: item.json.title,\n      companyName: item.json.companyName,\n      jobUrl: item.json.link,  // LinkedIn uses \"link\"\n      location: {\n        city: item.json.location  // LinkedIn location is string\n      },\n      salary: {\n        salaryText: item.json.salaryInfo?.join(' - ') || ''  // Convert array\n      },\n      isRemote: item.json.location?.toLowerCase().includes('remote') || false,\n      benefits: Array.isArray(item.json.benefits) ? item.json.benefits.join(', ') : '',\n      jobType: [item.json.employmentType || ''],  // Single value → array\n      descriptionText: item.json.descriptionText,\n      datePublished: item.json.postedAt,\n      expired: false,\n      platform: 'LinkedIn'\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        528
      ],
      "id": "b4b8bc9e-0e7c-4eb9-9929-9a2a276dbaf3",
      "name": "Normalize LinkedIn Data1"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "hKByXkMQaC5Qt9UMN",
          "mode": "list",
          "cachedResultName": "Linkedin Jobs Scraper - PPR (curious_coder/linkedin-jobs-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input"
        },
        "customBody": "{\n    \"count\": 100,\n    \"scrapeCompany\": true,\n    \"urls\": [\n        \"https://www.linkedin.com/jobs/search?keywords=Web%20Developer&location=North%20York&geoId=104720157&distance=25&f_TPR=r86400&position=1&pageNum=0\"\n    ]\n}",
        "timeout": 360
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        224,
        336
      ],
      "id": "88f9c57b-1124-4c02-87a8-0491912ec762",
      "name": "Run Linkedin - Web Dev",
      "credentials": {
        "apifyApi": {
          "id": "hGvpsAZZaeBRg3Tb",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "hKByXkMQaC5Qt9UMN",
          "mode": "list",
          "cachedResultName": "Linkedin Jobs Scraper - PPR (curious_coder/linkedin-jobs-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input"
        },
        "customBody": "{\n    \"count\": 100,\n    \"scrapeCompany\": true,\n    \"urls\": [\n        \"https://www.linkedin.com/jobs/search?keywords=Software%20Developer&location=North%20York&geoId=104720157&distance=25&f_TPR=r86400\"\n    ]\n}",
        "timeout": 360
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        224,
        528
      ],
      "id": "29458f44-377f-4abe-a31c-6e7d2e0d9c82",
      "name": "Run Linkedin - Software Dev",
      "credentials": {
        "apifyApi": {
          "id": "hGvpsAZZaeBRg3Tb",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "offset": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        448,
        528
      ],
      "id": "f2ee71d4-6427-4758-b774-9118bdc1ec7e",
      "name": "Get Linkedin - Software Dev",
      "credentials": {
        "apifyApi": {
          "id": "hGvpsAZZaeBRg3Tb",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "offset": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        448,
        336
      ],
      "id": "4d6c6b40-5255-4645-a33c-6fda75f2a047",
      "name": "Get Linkedin - Web Dev",
      "credentials": {
        "apifyApi": {
          "id": "hGvpsAZZaeBRg3Tb",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "  const items = $input.all();\n\n  return items.map(item => ({\n    json: {\n      ...item.json,\n      platform: 'Indeed'\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        144
      ],
      "id": "091d2e6f-e641-4723-9dd8-7c8e813e00b1",
      "name": "Add Indeed Platform"
    },
    {
      "parameters": {
        "jsCode": "  const items = $input.all();\n\n  return items.map(item => ({\n    json: {\n      ...item.json,\n      platform: 'Indeed'\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -48
      ],
      "id": "d915605a-910c-44cc-bcbf-6b7c4b83862a",
      "name": "Add Platform"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd01f8e9-94c1-4cb4-b793-fe2727fae2aa",
              "leftValue": "={{ $json.scoreMatch }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "db2e85ba-d9ea-4269-9731-efd93ae8d4b3",
              "leftValue": "={{ $json.scoreTotal }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2592,
        272
      ],
      "id": "d098339b-0400-4bdb-8f0e-5899f0bc30d8",
      "name": "If score more than 5"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2080,
        80
      ],
      "id": "816bde81-4544-40da-b7a2-b593eb3599f3",
      "name": "Aggregate",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.first().json.data\nconst totalCount = jobs.length;\n\n// Count by platform\nconst linkedinCount = jobs.filter(job => job.Platform === 'LinkedIn').length;\nconst indeedCount = jobs.filter(job => job.Platform === 'Indeed').length;\nreturn {\n  json: {\n    subject: `🎯 Job Seeker Automation: ${totalCount} New Opportunities Found!`,\n    message: `Hey there! 👋\n\nGreat news – your automated job seeker found ${totalCount} new position${totalCount !== 1 ? 's' : ''} that match your criteria and are ready for you to apply!\n\n📊 Breakdown:\n• LinkedIn: ${linkedinCount} job${linkedinCount !== 1 ? 's' : ''}\n• Indeed: ${indeedCount} job${indeedCount !== 1 ? 's' : ''}\n\nAll jobs have been scored, filtered, and added to your spreadsheet with personalized cover letters.\n\nTime to make some moves! 💼\n—\nYour n8n Job Hunter Bot`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        80
      ],
      "id": "8890735b-8ba3-4d50-a837-4728e2de9258",
      "name": "Format Email Message"
    },
    {
      "parameters": {
        "jsCode": "const apiToken = 'YOUR_MAILERSEND_API_TOKEN'; // Replace with your actual MailerSend API token\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.mailersend.com/v1/email',\n  headers: {\n    'Authorization': `Bearer ${apiToken}`,\n    'Content-Type': 'application/json'\n  },\n  body: {\n    from: {\n      email: 'YOUR_SENDER_EMAIL',\n      name: 'Your n8n Bot Name'\n    },\n    to: [{\n      email: 'YOUR_RECIPIENT_EMAIL'\n    }],\n    subject: $input.first().json.subject,\n    text: $input.first().json.message\n  },\n  json: true\n});\n\nreturn [{\n  json: {\n    success: true,\n    response: response || 'Email sent successfully'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        80
      ],
      "id": "d70a5636-913a-460b-aba0-5fecba776612",
      "name": "Send Email via MailerSend"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-11-10T09:00:24.011-05:00",
          "Readable date": "November 10th 2025, 9:00:24 am",
          "Readable time": "9:00:24 am",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "10",
          "Hour": "09",
          "Minute": "00",
          "Second": "24",
          "Timezone": "America/Toronto (UTC-05:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run Indeed - Web Dev",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run Linkedin - Web Dev",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run Indeed - Software Dev",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run Linkedin - Software Dev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score and Reason": {
      "main": [
        [
          {
            "node": "JSONify score and reasoning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover Letter": {
      "main": [
        [
          {
            "node": "JSONify Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSONify Cover Letter": {
      "main": [
        [
          {
            "node": "Append or update job in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSONify score and reasoning": {
      "main": [
        [
          {
            "node": "If score more than 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update job in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over dataset items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Score and Reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Generate Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates in Current Batch": {
      "main": [
        [
          {
            "node": "Get All Existing Job URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Existing Job URLs": {
      "main": [
        [
          {
            "node": "Filter Out Duplicate And +7 Days Posted Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize LinkedIn Data": {
      "main": [
        [
          {
            "node": "Merge Jobs",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Jobs": {
      "main": [
        [
          {
            "node": "Remove Duplicates in Current Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Duplicate And +7 Days Posted Jobs": {
      "main": [
        [
          {
            "node": "Loop Over dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Indeed - Software Dev": {
      "main": [
        [
          {
            "node": "Get Indeed Dataset - Software Dev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Indeed - Web Dev": {
      "main": [
        [
          {
            "node": "Get Indeed Dataset - Web Dev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Indeed Dataset - Web Dev": {
      "main": [
        [
          {
            "node": "Add Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Indeed Dataset - Software Dev": {
      "main": [
        [
          {
            "node": "Add Indeed Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Linkedin - Web Dev": {
      "main": [
        [
          {
            "node": "Get Linkedin - Web Dev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Linkedin - Software Dev": {
      "main": [
        [
          {
            "node": "Get Linkedin - Software Dev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Linkedin - Software Dev": {
      "main": [
        [
          {
            "node": "Normalize LinkedIn Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Linkedin - Web Dev": {
      "main": [
        [
          {
            "node": "Normalize LinkedIn Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize LinkedIn Data1": {
      "main": [
        [
          {
            "node": "Merge Jobs",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Add Indeed Platform": {
      "main": [
        [
          {
            "node": "Merge Jobs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Add Platform": {
      "main": [
        [
          {
            "node": "Merge Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If score more than 5": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Format Email Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email Message": {
      "main": [
        [
          {
            "node": "Send Email via MailerSend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "7Hewp4VvmgmOxXz4"
  },
  "versionId": "f1fdf3f8-bf9c-4fc7-baa9-31f9444fa771",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "V2HLHocormazLvy5",
  "tags": []
}